<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Gallery</title>
    <link rel="icon" href="https://cdn.nohat.cc/thumb/f/350/5978768157966336.jpg" type="image/x-icon" sizes="18x18">


    <link rel="stylesheet" href="../../public/css/gallery.css">
</head>

<body class="main-body">


    <header>
    <div class="game-title">
        <img src="../../public/img/thumbs/title1.png" alt="title" >
    </div> 

    
        <h1> 🅶🅰🅼🅴 🅶🅰🅻🅻🅴🆁🆈 </h1>
        <h3> Discover the penguin island and start your adventure. </h3>

        <div class="exit-btn">
            <img src="../../public/img/exit2.png" alt="exit" onclick="javascript:window.location='http://127.0.0.1:5500/mvc/app/views/index.html'">
        </div> 

        
        <div class="character">
            <img src="../../public/img/gallery-penguin1.png" alt="gallery">
        </div> 

    </header>

   
 <div id="index-gallery" class="wrapper-gallery">

     <div class="gallery-img img1">
        <div><a href="#">Title</a></div>
     </div>

     <div class="gallery-img img2">
        <div><a href="#">Title</a></div>
     </div>

    <div class="gallery-img img3">
        <div><a href="#">Title</a></div>
    </div>

    <div class="gallery-img img4">
        <div><a href="#">Title</a></div>
    </div>

    <div class="public/gallery-img img5">
        <div><a href="#">Title</a></div>
    </div>

    <div class="gallery-img img6">
        <div><a href="#">Title</a></div>
    </div>

    <div class="gallery-img img7">
        <div><a href="#">Title</a></div>
    </div>

    <div class="gallery-img img8">
        <div><a href="#">Title</a></div>
    </div>

    <div class="gallery-img img9">
        <div><a href="#">Title</a></div>
    </div>

    <div class="gallery-img img10">
        <div><a href="#">Title</a></div>
    </div>

</div>

  <script src="../controllers/gallery.js"></script>
    
</body>

</html>