<!DOCTYPE html>
<html lang="ro">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Ghidul Utilizatorul</title>
</head>

<body>
    <h1>LeHS Ghidul Utilizatorului</h1>

    <section typeof="sa:AuthorsList">
        <h2>Members</h2>
        <ul>
            <li typeof="sa:ContributorRole" property="schema:author">
                <span typeof="schema:Person">

                    <meta property="schema:familyName" content="Spiridon">
                    <meta property="schema:givenName" content="Madalina">
                    <span property="schema:name">Spiridon Madalina</span>
                </span>
                <ul>
                    <li property="schema:roleContactPoint" typeof="schema:ContactPoint">
                        <a href="https://github.com/Madalina0303" property="schema:email">Madalina0303</a>
                    </li>

                </ul>
            </li>
            <li typeof="sa:ContributorRole" property="schema:author">
                <span typeof="schema:Person">

                    <meta property="schema:familyName" content="Ursu">
                    <meta property="schema:givenName" content="Ioana-Bianca">
                    <span property="schema:name">Ursu Ioana Bianca</span>
                </span>
                <ul>
                    <li property="schema:roleContactPoint" typeof="schema:ContactPoint">
                        <a href="https://github.com/Ursu-Ioana-Bianca
                        " property="schema:email">Ursu-Ioana-Bianca</a>
                    </li>

                </ul>
            </li>
        </ul>
    </section>
    <h2>Table of Contents</h2>
    <ol role="directory">
        <li>
            <a href="#logare">
                Logare/Inregistrare
            </a>
        </li>
        <li>
            <a href="#meniu">
                Meniu
            </a>
        </li>
        <li>
            <a href="#level">
                Nivelele din joc
            </a>
        </li>
        <li>
            <a href="#profil">
                Profil
            </a>
        </li>
        <li>
            <a href="#leaderBoard">
                Clasament
               </a>
        </li>
        <li>
            <a href="#gallery">
               Galerie
               </a>
        </li>
    </ol>
    <section id="logare">
        <h3>Logarea/Inregistrarea</h3>
        <p>Logarea respectiv inregistrarea se poate realiza in doua moduri: fie folosind github fie prin completarea
            formularului.

            In cazul logarii cu github veti fi redirectionati la o pagina in care va trebui sa introduceti datele de
            conectarea pentru aceasta aplicatie.
            In cazul logarii cu formular, trebuie creat un cont in prealabil urmand ca apoi sa va puteti conecta
            introducand datele furnizate de dvs. in pasul de inregistrare.
           

        </p>
    </section>
    <section id="meniu">
        <h3>Meniu</h3>
        <p> In sectiunea de meniu aveti posibilitatea navigarii printre paginile aplicatiei, cele mai relevante fiind
            selectarea nivelului, vizualizarea clasementelor globale respectiv pagina de profil.

        </p>
    </section>
    <section id="level">
        <h3>Nivele din joc</h3>
        <p> In cadrul acestei pagini puteti alege sa lucrati exercitii fie pentru HTML fie pentru CSS.
            Recomandam parcurgerea tuturor nivelurilor, incepand de la incepator catre avansati.
           In cazul delogarii  si a logarii ulterioare, se va pastra progresul dvs de pana atunci.
           La fiecare nivel va aparea cat la suta a fost completat.    
           Dupa alegerea nivelului veti fi redirectionati la pagina aferenta. Cititi cu atentie cerinta si completati in spatiile 
          corespunzatoare. Apasati pe butonul de  verificare pentru a vedea daca ati raspuns corect sau trebuie sa mai incercati.
          Dupa ce un exercitiu a fost facut corect, devine disponibil exercitiul urmator. Prin apasarea pe butonul "next"
          se trece la urmatoarea provocare din nivelul curent fie la un nivel nou.
        </p>
    </section>
    <section id="profil">
        <h3>Profil</h3>
        <p> 
            Aveti posibilitatea vizualizarii unor statistici personale cum ar fi : nivelul si provocarea curenta.
            Numarul de puncte din maximul de 300 pentru HTML, CSS, respectiv o medie dintre acestea.
            Mai este disponibila o imagine  de profil preluata de la github in caul in care ati folosit aceasta aplicatie, respectiv
            o imagine generata automat  in cazul logarii prin completarea formularului.
        </p>
    </section>
    <section id="leaderBoard">
        <h3>Clasament</h3>
        <p> 
          In cadrul acestei pagini sunt disponibile informatii cu privire la un clasament general al celor mai buni jucatori.
          In sectiunile existente puteti vizualiza clasemente corespunzatoare pentru HTML,CSS,etc.

        </p>
    </section>
    <section id="gallery">
        <h3>Galerie</h3>
        <p> 
         Mai este disponibila o pagina "galerie" in care pot fi vizualizate imagini din joc.
        </p>
    </section>
</body>

</html>