<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/home.css">
    <title>Home</title>
</head>

<body>
    <!-- <div class ="team">
        <img src="../../public/images/palm.png" class="palm">
        <img src="../../public/images/sper.png" class="pinguin"> 
        <div class="pinguin" >
            <p>Discover the web world with Pinguin Club.Our team will help you to practice and 
                become an expert in HTML & CSS. 
           
            </p>
            <img src="../../public/images/salv.png" class ="salv">
        </div>
       
        <img src="../../public/images/palm1.png" class="palm1">
        
    </div> -->
  
    <div class="team">
        <img src="../../public/images/harta.png" class="map" alt="offf">
        <img src="../../public/images/prg1.png" alt="offf">
        <button type="button" id="mapBtn" >
            <img src="../../public/images/tres.png" alt="plct">
        </button>
    </div>
    <div class="html">
      
        <div class="level">
            <h2>HTML LEVELS
                <a href="#next">
                    <img src="../../public/images/jos.png" style="width: 30px; height:20px;">
                </a> 
            </h2>
           
          <span class="dot1">
                <div class="levl__bgn">
                    <h3> Beginner </h3>
                    <p> Let's go to do some easy exercises together. In this step you can test your basic knowledge
                        about
                        HTML</p>
                </div>
                <div class="overlay1">
                    <div class="text">Start</div>
                </div>

            </span>
            </span>
            <span class="dot2">
                <div class="levl__intr">
                    <h3> Intermediate </h3>
                    <p>Efectiv te ernerveazaaa </p>
                </div>
                <div class="overlay2">
                    <div class="text">Start</div>
                </div>
            </span>
            <span class="dot3">

                <div class="levl__adv">
                    <h3> Advanced </h3>
                    <p>Cateva cuv de spus despre bla bla bla</p>

                </div>
                <div class="overlay3">
                    <div class="text">Start</div>
                </div>
               <div id="next">

               </div>
            </span>
            <!-- <img src="../../public/images/sper.png">
        <img src="../../public/images/sper.png">
        <img src="../../public/images/sper.png"> -->
        </div>
    </div>
</body>
<script src="../controllers/map.js"></script>
</html>
