<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/intermediateH.css">
    <title>HTML-Intermediate</title>
</head>

<body>
    <header>
        <img src="../../public/images/comunicator.png" class="pers" alt="personaj">

        <div class="hi">
            <p> Hi! Are you on a secret mission? No wait, don't tell me!
            </p>
        </div>
    </header>
    <div class="exercitiu">


        <div class="cod">

            <div class="continut">

                <p> &lt;p&gt; Un paragraf &lt;&#47;p&gt; </p>
                <textarea id="ln1" autofocus></textarea>
            </div>
            <button type="submit" class="Verify">Verify>></button>
        </div>

        <div class="cod">

            <div class="continut">

                <p> &lt;p&gt; Un exercitiu ceva &lt;&#47;p&gt; </p>
                <textarea id="ln2" ></textarea>
            </div>
            <button type="submit" class="Verify">Verify>></button>
        </div>

        <div class="cod">

            <div class="continut">

                <p> &lt;p&gt; Altceva &lt;&#47;p&gt; </p>
                <textarea id="ln3" ></textarea>
            </div>
            <button type="submit" class="Verify">Verify>></button>
        </div>

        <div class="cod">

            <div class="continut">

                <p> &lt;p&gt; Text text text &lt;&#47;p&gt; </p>
                <textarea id="ln4" ></textarea>
            </div>
            <button type="submit" class="Verify">Verify>></button>
        </div>


    </div>
    <script src="../controllers/lock.js"></script>
</body>


</html>