<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/levels.css">
    <title>Levels</title>
</head>

<body>
    <div class="inc">
        <img src="../../public/images/island12Mic.png" alt="ice" class="ice">
        <h1 class="anim">HTML & CSS LEVELS
            <a href="#next">
                <img src="../../public/images/jos.png" alt="next" class="next">
            </a>
        </h1>
    </div>
    <div class="lnk">
        <button type="button" class="btnn" onclick="document.location='menu.html'">
        <img src="../../public/images/homeWH.png" alt="home button" >
    </button>
    <button type="button" class="btnn" onclick="document.location='profile.html'">
        <img src="../../public/images/prf.png" alt="profil button" >
    </button>
    </div>
    <!-- <div class="html"> -->
        <div class="level">

            <div class="dot1">
                <div class="levl__bgn">
                    <h3> Beginner </h3>
                    <p> Let's go to do some easy exercises together. In this step you can test your basic knowledge
                        about
                        HTML</p>
                </div>
                <div class="overlay1">
                    <button type="button" class=btn onclick="document.location='beginnerH.html'">
                        Start
                    </button>
                   <p class="completed"> Completed: 0% </p>
                </div>

            </div>
           
            <div class="dot2">
                <div class="levl__intr">
                    <h3> Intermediate </h3>
                    <p>Descrierea acestui nivel </p>
                </div>
                <div class="overlay2">
                    <button type="button" class=btn onclick="document.location='intermediateH.html'">
                        Start
                    </button>
                    <p class="completed"> Completed: 0% </p>
                </div>
            </div>
            <div class="dot3">

                <div class="levl__adv">
                    <h3> Advanced </h3>
                    <p>Cateva cuv de spus despre bla bla bla</p>

                </div>
                <div class="overlay3">
                    <button type="button" class=btn onclick="document.location='advancedH.html'">
                        Start
                    </button>
                    <p class="completed"> Completed: 0% </p>
                </div>
                <div id="next">

                </div>
            </div>
            <!-- <img src="../../public/images/sper.png">
        <img src="../../public/images/sper.png">
        <img src="../../public/images/sper.png"> -->
        </div>
    <!-- </div> -->

    <div class="css">
        <div class="levelCss">
            <div class="dot1Css">
                <div class="levl__bgnCss">
                    <h3> Beginner </h3>
                    <p> Let's go to do some easy exercises together. In this step you can test your basic knowledge
                        about CSS.
                    </p>
                </div>
                <div class="overlay1Css">
                    <button type="button" class="btn">
                        Start

                    </button>
                    <p class="completed"> Completed: 0% </p>
                </div>

            </div>
            <div class="dot2Css">
                <div class="levl__intrCss">
                    <h3> Intermediate </h3>
                    <p> Ieii, ai trecut mai departe...
                    </p>
                </div>
                <div class="overlay2Css">
                    <button type="button" class="btn">
                        Start

                    </button>
                    <p class="completed"> Completed: 0% </p>
                </div>

            </div>
            <div class="dot3Css">
                <div class="levl__advCss">
                    <h3> Advanced </h3>
                    <p> Super... ai terminat.
                    </p>
                </div>
                <div class="overlay3Css">
                    <button type="button" class="btn">
                        Start

                    </button>
                    <p class="completed"> Completed: 0% </p>
                </div>

            </div>



        </div>
    </div>
    <div class="footer">
        <div class="footer__text">
            <p class="mor"> Adventure...</p>
        </div>
        <div class="footer__img">
            <img src="../../public/images/ursuSt.png" class="ursSt" alt="urs">
            <img src="../../public/images/pirat.png" alt="map" class="hrt">
            <img src="../../public/images/ursuDr.png" class="ursSt" alt="urs">
        </div>
    </div>
</body>
<!-- <script src="../controllers/map.js"></script> -->

</html>
