<!DOCTYPE html>
<html lang="ro">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/raport.css">
    <title>Raport</title>
</head>

<body>
    <h1>LeHS Raport</h1>
    <section typeof="sa:ProjectLinks">
        <ul>
            <li typeof="schema:WebPage" resource="https://github.com/Madalina0303/LeHS.git" property="schema:citation">
                <cite property="schema:name">
                    <a href="https://github.com/Madalina0303/LeHS.git">Github-repository</a>
                </cite>
            </li>
        </ul>
    </section>

    <section typeof="sa:AuthorsList">
        <h2>Members</h2>
        <ul>
            <li typeof="sa:ContributorRole" property="schema:author">
                <span typeof="schema:Person">

                    <meta property="schema:familyName" content="Spiridon">
                    <meta property="schema:givenName" content="Madalina">
                    <span property="schema:name">Spiridon Madalina</span>
                </span>
                <ul>
                    <li property="schema:roleContactPoint" typeof="schema:ContactPoint">
                        <a href="https://github.com/Madalina0303" property="schema:email">Madalina0303</a>
                    </li>

                </ul>
            </li>
            <li typeof="sa:ContributorRole" property="schema:author">
                <span typeof="schema:Person">

                    <meta property="schema:familyName" content="Ioana-Bianca">
                    <meta property="schema:givenName" content="Ursu">
                    <span property="schema:name">Ursu Ioana Bianca</span>
                </span>
                <ul>
                    <li property="schema:roleContactPoint" typeof="schema:ContactPoint">
                        <a href="https://github.com/Ursu-Ioana-Bianca
                        " property="schema:email">Ursu-Ioana-Bianca</a>
                    </li>

                </ul>
            </li>
        </ul>
    </section>
    <h2>Table of Contents</h2>
    <ol role="directory">
        <li>
            <a href="#introduction">
                Introduction
            </a>
        </li>
        <li>
            <a href="#arhitecturaApp">
                Application Architecture
            </a>
        </li>
        <li>
            <a href="#frontend">
                Front End
            </a>
            <ul role="directory">
                <li>
                    2.1
                    <a href="#signup">
                        Sign-Up & Login
                    </a>
                </li>

                <li>
                    2.2
                    <a href="#gallery">
                        Game Gallery
                    </a>
                </li>

                <li>
                    2.3
                    <a href="#menu">
                        Menu
                    </a>
                </li>
                <li>
                    2.4
                    <a href="#levels">
                        Levels
                    </a>

                </li>
                <li>
                    2.5
                    <a href="#profile">
                        Profile
                    </a>
                </li>
                <li>
                    2.6
                    <a href="#clasament">
                        Leader Board
                    </a>
                </li>
                <li>
                    2.7
                    <a href="#settings">
                        Settings
                    </a>
                </li>

            </ul>
        </li>
        <li>
            <a href="#bd">
                Baza de date
            </a>
        </li>
        <li>
            <a href="#implementare">
                Implementation Details
            </a>
        </li>
    </ol>
    <section id="introduction">

        <h3>
            Introduction
        </h3>
        <p>Proiectul LeHS are ca scop exersarea si verificarea cunostintelor despre Html si Css astfel incat
            utilizatorul sa dobandeasca noi abilitati pentru scrierea de cod intr-o maniera interactiva,prin joc.
        </p>
    </section>
    <section id="arhitecturaApp">

        <h3>
            Application Arhitecture
        </h3>
        <img src="" alt="arhitectura">
    </section>
    <section id="frontend">

        <h3>
            Front End
        </h3>
        <p> Paginile site-ului web sunt responsive iar tematica jocului este reprezentata de o jungla cu animale
            Interfata este una atractiva si captivanta, functioanalitatile aplicatiei fiind usor de accesat si
            utilizat. </p>
    </section>
    <section id="signup">

        <h3>
            Sign Up & Login
        </h3>
        <div> Prima pagina a aplicatiei este "index.html" prin care utilizatorul poate accesa jocul fie prin logare fie
            prin inregistrare. Sunt disponibile optiunile de conectare folosind conturile de github,.
            Navigarea intre sectiunile de logare respectiv inregistrare se realizeaza prin glisarea unui buton iar
            butonul de sumbit al formularului de inregistrare necesita completarea tuturor campurilor cu date valide.
            Printre functioanalitati se numara si acceptarea termenilor si conditiilor pentru
            prelucrarea datelor personale.
            Deasemenea de pe aceasta pagina utilizatorul are acces la galeria jocului.

        </div>


        <figure typeof="sa:image">
            <img src="../../public/images/sm1.png">
            <figcaption>Fig.1 -Formular de logare/ inregistrare</figcaption>
        </figure>
    </section>

    <section id="gallery">

        <h3>
            Game Gallery
        </h3>
        <p> Galeria jocului, identificata prin pagina "gallery.php", poate fi accesata de pe pagina principala si pune
            la dispozitie o serie de imagini
            ilustrative pentru tematica jocului, creand o perspectiva de ansamblu asupra caracterelor ce vor insoti
            utilizatorul in experienta traita pe insula.
            Utilizatorul poate deschide o imagine ce va fi dispusa pe intregul ecran si poate naviga intre imagini
            folosindu-se de cele doua butoane prev si next.
        </p>
        <figure typeof="sa:image">
            <img src="../../public/images/gallery.png">
            <figcaption>Fig.1 -Galeria jocului</figcaption>
        </figure>
    </section>

    <section id="menu">
        <h3>
            Menu
        </h3>
        <p>
            Se pot selecta diverse pagini ale aplicatiei cum ar fi : selectarea nivelului de joc, vizualizarea unui
            clasament, a profilului,setari respectiv inceperea/continuarea exercitiilor.
            Pagina de meniu este realizata intr-o maniera unica,personalizata prin modul serial de dispunere al
            sectiunilor.

        </p>
        <figure typeof="sa:image">
            <img src="../../public/images/sm2.png">
            <figcaption>Fig.2 -Menu</figcaption>
        </figure>
    </section>
    <section id="levels">
        <h3>
            Levels
        </h3>
        <p> Din meniu se ajunge pe pagina "levels.html" unde utilizatorul poate selecta o categorie pentru care opteaza
            sa-si
            verifice cunostintele precum si un nivel de dificultate. Butoanele corespunzatoare categoriilor( Html sau
            Css ) au o forma circulara si contin
            descrieri ale nivelelor. La trecerea mouse-ului peste buton se schimba background-ul iar optiunea de a
            incepe nivelul substituieste descrierea initiala.


            La partea de html pentru fiecare provocare se propune jucatorului o serie de 4 exercitii. Un exercitiu
            efectuat corect il deblocheza pe urmatorul.
            In cazul celui de-al 4 lea exercitiu devine disponibila provocarea urmatoare.
            Un personaj/caracter este prezent si afiseaza un mesaj prin glisarea mouse-ului pe deasupra.
            Legaturile catre paginile de selectare a nivelului, de vizitare a profilului si a meniului fac posibila
            navigarea catre cele mai importante sectiuni ale aplicatiei.

            La partea de Css este doar cate un exercitiu per provocare.

        </p>
        <figure typeof="sa:image">
            <img src="../../public/images/sm3.png">
            <figcaption>Fig.3 -Categorii</figcaption>
        </figure>
    </section>

    <section id="profile">
        <h3>
            Profile
        </h3>
        <p> In aceasta pagina, utilizatorul isi poate vedea progresul corespunzator fiecarei categorii de exercitii
            (Html, Css, All),
            nivelul curent si cat mai are de parcurs pana la urmatorul nivel. Este afisata si fotografia utilizatorului,
            username-ul si optiunea de navigare catre pagina de cadouri/avantaje in joc pentru utilizator.
        </p>
        <figure typeof="sa:image">
            <img src="../../public/images/sm4.png">
            <figcaption>Fig.9 -Profile</figcaption>
        </figure>
    </section>
    <section id="clasament">
        <h3>
            Leader Board
        </h3>
        <p> In aceasta pagina, utilizatorul are acces la clasamentul utilizatorilor precum si locul pe care este situat
            raportat la ceilalti jucatori.
            Topul jucatorilor este structurat in 3 sectiuni. Acestea din urma find in stransa legatura cu categoriile
            jocului( Html, Css, All).
        </p>
        <figure typeof="sa:image">
            <img src="../../public/images/sm5.png">
            <figcaption>Fig.10 -Leader Board</figcaption>
        </figure>
    </section>
    <section id="settings">
        <h3>
            Settings
        </h3>
        <div> Setari cu privire la sunetul de fundal respectiv a suportului pentru internationalizare( limbile: engleza
            si
            franceza) pentru a putea fi accesat
            pe o scara larga de utilizatori.
            Fondul muzical are ca scop cresterea intesitatii si suspansului, mentinand interesul si atentia
            utilizatorului.

        </div>
        <figure typeof="sa:image">
            <img src="../../public/images/setari.png">
            <figcaption>Fig.11 -Settings</figcaption>
        </figure>
    </section>
    <section id="bd">
        <h3>
            Data Base
        </h3>
        <div> In baza de date exista tabele precum : userTable in care se pastreaza informatiile corespunzatoare
            logarii, cum ar fi username ul, adresa de email, avatarul
            Alte tabele sunt cele in care retinem nivelul si provocarea fiecarui utilizator astfel incat la revenirea in
            joc sa continue de unde a ramas


        </div>
        <figure typeof="sa:image">
            <img src="../../public/images/tabel1.png" style="width:50vw; height:25vh">
            <figcaption>Fig.12 -User table</figcaption>
        </figure>
        <figure typeof="sa:image">
            <img src="../../public/images/tabel2.png" style="width:50vw; height:25vh">
            <figcaption>Fig.13 -Level table</figcaption>
        </figure>
    </section>
    <section id="implementare">
        <h3>
            Implementation Details
        </h3>
        <div>
            <ul>
            <li> O functie cu rol important il joaca cea in care se actualizeaza punctajul unui utilizator
               
                <p>function updateLevel($id = '', $level = '', $challenge = '')</p>
                <p>{</p>

                <p> if ($level[1] == 'h') {</p>

                <p> $prevQuery = "Update " . $this->htmlTbl . " SET level=\"" . $level . "\",challenge=\"" . $challenge
                    . "\" WHERE idUser = " . $id;</p>
                <p> echo $prevQuery;</p>
                <p> $result = $this->db->query($prevQuery);</p>

                <p> if ($result->num_rows == 1) {</p>
                <p> return true;</p>
                <p> }</p>
                <p> } else if ($level[1] == 'c') {</p>
                <p> $prevQuery = "Update " . $this->cssTbl . " SET level=\"" . $level . "\",challenge=\"" . $challenge
                    . "\" WHERE idUser = " . $id;</p>
                <p> echo $prevQuery;</p>
                <p> $result = $this->db->query($prevQuery);</p>

                <p> if ($result->num_rows == 1) {</p>
                <p> return true;</p>
                <p>}</p>
                <p> }</p>
                <p> return false;</p>
                <p> }</p>
                </li>
            </ul>
         O alta functionalitate relevanta este cea de la formularul de logare/ register si comutarea printre acestea.

         <ul>
            <li>
                Pentru a accesa formularul de register sau login se gliseaza un buton functionalitate obtinuta prin
                adaugarea de cod js paginii.

                <p>let x = document.getElementById("login");</p>
                <p>let y = document.getElementById("register");</p>
                <p>let z = document.getElementById("btn");</p>

                <p>function register(){</p>
                <p> x.style.left="-400px";</p>
                <p> y.style.left="50px";</p>
                <p>z.style.left="110px";</p>
                <p>}</p>

                <p>function login(){</p>
                <p> x.style.left="50px";</p>
                <p> y.style.left="450px";</p>
                <p> z.style.left="0px";</p>
                <p> }</p>
            </li>
        </ul>

        </div>

    </section>
</body>

</html>