<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/raport.css">
    <title>Raport</title>
</head>

<body>
    <h1>LeHS Raport</h1>
    <section typeof="sa:ProjectLinks">
        <ul>
            <li typeof="schema:WebPage" role="link" resource="https://github.com/Madalina0303/LeHS.git"
                property="schema:citation">
                <cite property="schema:name">
                    <a href="https://github.com/Madalina0303/LeHS.git">Github-repository</a>
                </cite>
            </li>
        </ul>
    </section>

    <section typeof="sa:AuthorsList">
        <h2>Members</h2>
        <ul>
            <li typeof="sa:ContributorRole" property="schema:author">
                <span typeof="schema:Person">

                    <meta property="schema:familyName" content="Spiridon">
                    <meta property="schema:givenName" content="Madalina">
                    <span property="schema:name">Spiridon Madalina</span>
                </span>
                <ul>
                    <li property="schema:roleContactPoint" typeof="schema:ContactPoint">
                        <a href="https://github.com/Madalina0303"
                            property="schema:email">Madalina0303</a>
                    </li>

                </ul>
            </li>
            <li typeof="sa:ContributorRole" property="schema:author">
                <span typeof="schema:Person">

                    <meta property="schema:familyName" content="Ioana-Bianca">
                    <meta property="schema:givenName" content="Ursu">
                    <span property="schema:name">Ursu Ioana Bianca</span>
                </span>
                <ul>
                    <li property="schema:roleContactPoint" typeof="schema:ContactPoint">
                        <a href="https://github.com/Ursu-Ioana-Bianca
                        " property="schema:email">Ursu-Ioana-Bianca</a>
                    </li>

                </ul>
            </li>
        </ul>
    </section>
    <h2>Table of Contents</h2>
    <ol role="directory">
        <li>
            <a href="#introduction">
                Introduction
            </a>
        </li>
        <li>
            <a href="#frontend">
                Front End
            </a>
            <ul role="#directory">
                <li>
                    2.1
                    <a href="#signup">
                        Sign-Up & Login
                    </a>
                </li>
                <li>
                    2.2
                    <a href="#menu">
                        Menu
                    </a>
                </li>
                <li>
                    2.3
                    <a href="#levels">
                        Levels
                    </a>
                    <ul role="#directory">

                        <li>
                            2.3.1
                            <a href="#beginnerHtml">
                                Beginner-HTML
                            </a>
                        </li>
                        <li>
                            2.3.2
                            <a href="#intermediateHtml">
                                Intermediate-HTML
                            </a>
                        </li>
                        <li>
                            2.3.3
                            <a href="#advancedHtml">
                                Advanced-HTML
                            </a>
                        </li>
                        <li>
                            2.3.4
                            <a href="#beginnerCss">
                                Beginner-CSS
                            </a>
                        </li>
                        <li>
                            2.3.5
                            <a href="#intermediateCss">
                                Intermediate-Css
                            </a>
                        </li>
                        <li>
                            2.3.6
                            <a href="#advancedCss">
                                Advanced-Css
                            </a>
                        </li>

                    </ul>
                </li>
                <li>
                    2.4
                    <a href="#profile">
                        Profile
                    </a>
                </li>
                <li>
                    2.5
                    <a href="#clasament">
                        Leader Board
                    </a>
                </li>
                <li>
                    2.6
                    <a href="#settings">
                        Settings
                    </a>
                </li>
                <li>
                    2.7
                    <a href="#spin">
                        Wheel
                    </a>
                </li>
            </ul>
        </li>
    </ol>
    <section id="introduction">

        <h3>
            Introduction
        </h3>
        <p>Proiectul LeHS are ca scop exersarea si verificarea cunostintelor despre Html si Css astfel incat
           utilizatorul sa dobandeasca noi abilitati pentru scrierea de cod intr-o maniera interactiva,prin joc.
        </p>
    </section>
    <section id="frontend">

        <h3>
            Front End
        </h3>
        <p> Paginile site-ului web sunt responsive iar tematica jocului este reprezentata de o insula locuita de
            pinguini. Interfata este una atractiva si captivanta, functioanalitatile aplicatiei fiind usor de accesat si utilizat. </p>
    </section>
    <section id="signup">

        <h3>
            Sign Up & Login
        </h3>
        <p> Prima pagina a aplicatiei este "index.html" prin care utilizatorul poate accesa jocul fie prin logare fie
            prin inregistrare. Sunt disponibile optiunile de conectare folosind conturile de github,google si facebook.
            Navigarea intre sectiunile de logare respectiv inregistrare se realizeaza prin glisarea unui buton iar
            butonul de sumbit al formularului de inregistrare necesita completarea tuturor campurilor cu date valide.
            Printre functioanalitati se numara memorarea parolei si acceptarea termenilor si conditiilor pentru prelucrarea datelor personale.
            Deasemenea de pe aceasta pagina utilizatorul are acces la galeria jocului.
        </p>
        <figure typeof="sa:image">
            <img src="../../public/images/form.png">
            <figcaption>Fig.1 -Formular de logare/ inregistrare</figcaption>
        </figure>
    </section>
    <section id="menu">
        <h3>
            Menu
        </h3>
        <p>
            Se pot selecta diverse pagini ale aplicatiei cum ar fi : selectarea nivelului de joc, vizualizarea unui
            clasament, a profilului,setari respectiv inceperea/continuarea exercitiilor.
            Pagina de meniu este realizata intr-o maniera unica,personalizata prin modul serial de dispunere al sectiunilor.

        </p>
        <figure typeof="sa:image">
            <img src="../../public/images/menu.png">
            <figcaption>Fig.2 -Menu</figcaption>
        </figure>
    </section>
    <section id="levels">
        <h3>
            Levels
        </h3>
        <p> Din meniu se ajunge pe pagina "levels.html" unde utilizatorul poate selecta o categorie pentru care opteaza sa-si
            verifice cunostintele precum si un nivel de dificultate. Butoanele corespunzatoare  categoriilor( Html sau Css ) au o forma circulara si contin
            descrieri ale nivelelor. La trecerea mouse-ului peste buton se schimba background-ul iar optiunea de a incepe nivelul substituieste descrierea initiala.
            Fiecare nivel are o tematica inspirate de locatiile insulei.
        </p>
        <figure typeof="sa:image">
            <img src="../../public/images/levels.png">
            <figcaption>Fig.3 -Categorii</figcaption>
        </figure>
    </section>
    <section id="beginnerHtml">
        <h3>
            Beginner-HTML
        </h3>
        <p> Se propune jucatorului o serie de 4 exercitii. Un exercitiu efectuat corect il deblocheza pe urmatorul.
            In cazul celui de-al 4 lea exercitiu devine disponibil nivelul urmator.
            Un personaj/caracter acorda suport utilizatorului, oferindu-i enuntul sau indicii in rezolvare.
            Legaturile catre paginile de selectare a nivelului, de vizitare a profilului si a meniului fac posibila
            navigarea catre cele mai importante sectiuni ale aplicatiei.
        </p>
        <figure typeof="sa:image">
            <img src="../../public/images/beginnerH.PNG">
            <figcaption>Fig.3 -Begginer Html</figcaption>
        </figure>
    </section>
    <section id="intermediateHtml">
        <h3>
            Intermediate-HTML
        </h3>
        <p> Pagina este realizata intr-o maniera similara cu cea a celorlalte nivele dar tematica si caracterul
            sunt personalizate in concordanta cu stadiul/etapa din joc.
        </p>
        <figure typeof="sa:image">
            <img src=".....">
            <figcaption>Fig.4 -Intermediate Html</figcaption>
        </figure>
    </section>
    <section id="advancedHtml">
        <h3>
            Advanced-HTML
        </h3>
        <p> 
            Pagina este realizata intr-o maniera similara cu cea a celorlalte nivele dar tematica si caracterul
            sunt personalizate in concordanta cu stadiul/etapa din joc.
            
        </p>
        <figure typeof="sa:image">
            <img src=".....">
            <figcaption>Fig.5 -Advanced Html</figcaption>
        </figure>
    </section>
    <section id="beginnerCss">
        <h3>
            Beginner-CSS
        </h3>
        <p> Se propun jucatorului o serie de 4 exercitii. Un exercitiu efectuat corect deblocheza urmatorul exercitiu.
            In cazul celui de-al 4 lea exercitiu se deblocheaza nivelul urmator.
        </p>
        <figure typeof="sa:image">
            <img src="../../public/images/beginnerC.PNG">
            <figcaption>Fig.6 -Begginer Html</figcaption>
        </figure>
    </section>
    <section id="intermediateCss">
        <h3>
            Intermediate-CSS
        </h3>
        <p> Se propun jucatorului o serie de 4 exercitii. Un exercitiu efectuat corect deblocheza urmatorul exercitiu.
            In cazul celui de-al 4 lea exercitiu se deblocheaza nivelul urmator.
        </p>
        <figure typeof="sa:image">
            <img src=".....">
            <figcaption>Fig.7 -Intermediate CSS</figcaption>
        </figure>
    </section>
    <section id="advancedCss">
        <h3>
            Advanced-CSS
        </h3>
        <p> Se propun jucatorului o serie de 4 exercitii. Un exercitiu efectuat corect deblocheza urmatorul exercitiu.
            In cazul celui de-al 4 lea exercitiu se deblocheaza nivelul urmator.
        </p>
        <figure typeof="sa:image">
            <img src=".....">
            <figcaption>Fig.8 -Advanced CSS</figcaption>
        </figure>
    </section>
    <section id="profile">
        <h3>
            Profile
        </h3>
        <p> In aceasta pagina, utilizatorul isi poate vedea progresul, nivelul curent si cat mai are de parcurs pana la
            urmatorul nivel. Este afisata si fotografia utilizatorului, username-ul si optiunea de navigare catre pagina
            de cadouri/avantaje in joc pentru utilizator.
        </p>
        <figure typeof="sa:image">
            <img src="../../public/images/profile.png">
            <figcaption>Fig.9 -Profile</figcaption>
        </figure>
    </section>
    <section id="clasament">
        <h3>
            Leader Board
        </h3>
        <p> In aceasta pagina, utilizatorul are acces la clasamentul utilizatorilor precum si locul pe care este situat.
            Topul jucatorilor este structurat in 3 sectiuni. Acestea din urma find in stransa legatura cu categoriile jocului( Html, Css, All).
        </p>
        <figure typeof="sa:image">
            <img src="../../public/images/clasament.png">
            <figcaption>Fig.10 -Leader Board</figcaption>
        </figure>
    </section>
    <section id="settings">
        <h3>
            Settings
        </h3>
        <p> Setari cu privire la sunetul de fundal respectiv a suportului pentru internationalizare( limbile: engleza si franceza)
            Fondul muzical are ca scop cresterea intesitatii si suspansului, mentinand interesul si atentia utilizatorului.
        </p>
        <figure typeof="sa:image">
            <img src="../../public/images/setari.png">
            <figcaption>Fig.11 -Settings</figcaption>
        </figure>
    </section>
    <section id="spin">
        <h3>
            Wheel
        </h3>
        <p> Utilizatorul poate castiga, prin invartirea rotii, bonus de puncte, indicii la exercitii sau avantaje oferite de personajele
            specifice fiecarui nivel. Aceasta functionalitate va fi disponibila o singura data pe zi.

        </p>
        <figure typeof="sa:image">
            <img src="../../public/images/spin.png">
            <figcaption>Fig.12 -Wheel</figcaption>
        </figure>
    </section>
</body>

</html>
