.html h2{
   margin-left:40%;
    color:blue;
    
}
.html{

    background-color:#d0d8dd;
    width: 100vw;
    height: 100vh;
}
.level{
    
    background-color:#33adff ;
    width: 100vw;
    height: 100vh;
    margin:0px;
    padding: 0;
    display: flex;
    justify-content: space-around;
    
}
.dot1 {
    height: 40%;
    width: 20%;
    background-color:whitesmoke;
    border-radius: 50%;
    margin-top: 20vh;
    /* display: flex;
    justify-content: center; */
    position: relative;
   }
   .dot1:hover .overlay1 {
    opacity: 1;
  }
  .dot2 {
    height: 40%;
    width: 20%;
    background-color:whitesmoke;
    border-radius: 50%;
    margin-top: 20vh;
    /* display: flex;
    justify-content: center; */
    position: relative;
  }
  .dot2:hover .overlay2 {
    opacity: 1;
  }
  .dot3 {
    height: 40%;
    width: 20%;
    background-color:whitesmoke;
    border-radius: 50%;
    margin-top: 20vh;
    /* display: flex;
    justify-content: center; */
    position: relative;
  } 
  .dot3:hover .overlay3 {
    opacity: 1;
  }
  .levl__bgn p{
    position: absolute;
    width: 70%;
    left: 13%;
    top:30%;
}
  .levl__bgn h3{
    position: absolute;
    width: 70%;
    left:30%;
    top:10%;
}
 .levl__intr p{
    position: absolute;
    width: 70%;
    left: 13%;
    top:30%;
} 
  
  .levl__intr h3{
    position: absolute;
    width: 70%;
    left:30%;
    top:10%;
}
.levl__adv p{
    position: absolute;
    width: 70%;
    left: 13%;
    top:30%;
} 
  
  .levl__adv h3{
    position: absolute;
    width: 70%;
    left:30%;
    top:10%;
}
.overlay1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height:100%;
    width: 100%;
    border-radius: 50%;
    opacity: 0;
    transition: .5s ease;
    background-image:url("../../public/images/pf1.png");
  }
  .overlay2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height:100%;
    width: 100%;
    border-radius: 50%;
    opacity: 0;
    transition: .5s ease;
    background-image:url("../../public/images/pp1.png");
  }
  .overlay3 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height:100%;
    width: 100%;
    border-radius: 50%;
    opacity: 0;
    transition: .5s ease;
    background-image:url("../../public/images/ps1.png");
  }
  .text {
    color: whitesmoke;
    background-color: red;
    font-size: 40px;
    position: absolute;
    width:3em;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
/* .team{
     width: 20em;
    height:auto;
    position: absolute;
    left:0; 
    border:solid black 3px;
    width: 100vw;
    height: 100vh;
    position: relative;
}   */
.team{
  display: flex;
  justify-content: space-around;
}
/* .team p{
   position: absolute; 
  left:38%;
  top:45%;
  width:13em;
   color:#f2db8d; 
  font-size: 20px;
  font-weight: bold;
} */
body{
    padding: 0;
    margin: 0;
    background-color:rgba(0, 255, 255, 0.719);
  
}
 .pinguin{
   /* max-width: 40vw;
   max-height: 80vh;  */
   width: 20em;
   height: 10em;
   background-color: rgb(245, 245, 97);
   margin-top:10em;
   border-radius:20%;
  position: relative;
 } 
 .pinguin p{
  padding:2em;
 }
.palm1{
  
  /* right: 2%;
  position:absolute; */
}
.salv{
  width: 20em;
  height: 20em;
  position: absolute;
  right: 14em;
}
