*{
    border: 0;
    margin: 0;
    padding: 0;
}
 header{
    background-color:black;
    width: 100vw;
    height: 2em;
} 
h3{
    color: burlywood;
}

.main{
     background-image: url('abs..jpg'); 
     opacity: 0.5;
    /* border: 5px solid black; */
     height: 100vh;
    width: 100vw;  
    position: relative;
}
.account{
    position: absolute;
    right:10em;
    top:10em;
    border: 3px black solid;
    padding: 1em;
    opacity: no;
}
img{
     height:97vh;
     width: 30vw;
     opacity: 0.5;
}
#email,#password{
    display: block;
    background-color:#ecc393;
    color:burlywood;
    
    margin-left:1em;
    margin-bottom: 1em;
    margin-right: 1em;
    height: 3em;
    width: 20em;
}
p{
    margin-left: 1em;
}