body{
    /* background-image: url("../../public/images/merge.png");
     */
    /* background-color: #f2f2f2;; */
    background-image: url("../../public/images/htr.jpg");
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    
}
.pers{
    width: 100px;
    height: 100px;
    transition: transform .2s;
    margin-top: 0.5em;
  
  }
  .pers:hover {
    -ms-transform: scale(1.5); 
    -webkit-transform: scale(1.5); 
    transform: scale(1.5); 
    
   
  }
  .pers:hover + .hi{
    display: block;
  }
  .hi{
     display: none;
     margin-left:3em;
     border: solid black 1px;
     border-radius: 20%;
     height: 7em; 
     width: 15em;
     margin-top: 2em;
     /* background-color: rgba(210, 105, 30, 0.233); */
     background-color: rgba(204, 200, 195, 0.356);
  }
  .hi p{
      padding: 1em;
      /* color:rgb(208, 219, 215); */
      color: #52dd36;
  }
  header{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
  }
  .exercitiu{
  
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.cod,.cod1,.cod2,.cod3{
    height: 20em;
    background-color:  rgb(235, 139, 30);
   
    width: 40vw;
    position: relative;
    margin: 1em;
}
.cod:not(:first-child){
    opacity:0.8;
}
#ln1,#ln2,#ln3,#ln4{
    /* background-color: rgb(127, 127, 230); */
    background-color: #52dd36;
    color:rgb(231, 233, 238);
    /* height: 8%; */
    width: 80%;
    font-size: 15px;
}
.continut{
  position: absolute;
  left:2em;
  top:0;
}
.continut p{
    color:rgb(231, 233, 238);;
    font-size: 18px;
}
.count{
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.Verify,.Verify1,.Verify2,.Verify3{
    position: absolute;
    right: 0.5em;
    bottom: 0.5em;
    /* background-color:rgb(213, 219, 236);  */
    /* background-color: #FFFFFF4D; */
    background-color:#52dd36;
    color:rgb(231, 233, 238);
    width: 6em;
    border: none;
    border-radius: 5%;
    font-size: 15px;
}
.next{
    background-color:#52dd36;
    color:rgb(213, 219, 206);
    width: 6em;
    border: none;
    border-radius: 5%;
    font-size: 15px;
    position: absolute;
    right: 8em;
    bottom: 0.5em;
}
.rezultat{
    /* width: 40vw;
    height: 40em;
    background-color:#3863a0;
     border-radius: 7%; */
     height: 20em;
     background-color:  rgb(13, 13, 37);
     width: 40vw;
     
}
.cod.is--unlock{
    opacity: 1;
}
@media screen and (max-width:800px ){
    .cod{
        width: 40em;
    }
    
}
.lnk{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top:4%;
    right: 2%;
    width:10em;
  }
  .btnn img{
    height: 30px;
    width: 30px;
   
  }

  .btnn{
      border: none;
    border-radius: 40%;
    background:orange;
     
  }
