*{
  margin:0;
  padding:0;

}

.background{
  background-image: url(https://static.wikia.nocookie.net/clubpenguin/images/d/de/Distant_Planet_Location_with_igloo.png/revision/latest/scale-to-width-down/1000?cb=20210324003816);
  background-size: cover;
  width: 100vw;
  height:100vh;
  position:fixed;
}

#app {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    position: relative;
  }

  .daily-spin{
      width:25%;
      height:20%;
      left:20px;
      top:10px;
      display:flex;
      justify-content: space-around;
      position:absolute;
  }

  .wheel-character{
    width:30%;
    height:65%;
    right:5px;
    top:12%;
    display:flex;
    justify-content: space-around;
    position:absolute;

  }

  .exit-btn{
    width: 10%;
    height: 8%;
    position:absolute;
    top:20px;
    right:0px;
    display: flex;
    justify-content: space-around;
    cursor:pointer;  
}
  
  
  .marker {
    position: absolute;
    width: 70px;
    left: 45%;
    top: -20px;
    z-index: 2;
  }
  
  .wheel {
    width: 100%;
    height: 100%;

  }
  
  .button {
    display: block;
    width: 400px;
    margin: 30px auto;
    cursor: pointer;
  }
  
  .button:hover {
    opacity: 0.8;
  }
  
  .blur {
    animation: blur 10s;
  }
  
  @keyframes blur {
    0% {
      filter: blur(1.5px);
    }
    80% {
      filter: blur(1.5px);
    }
    100% {
      filter: blur(0px);
    }
  }